# PostgreSQL
POSTGRES_USER=development
POSTGRES_PASSWORD=development
POSTGRES_DB=development

# Node - PostgreSQL
DATABASE_URL=postgresql://development:development@datahub-postgres/development

#NODE
PORT=8000
CORS_ORIGIN=http://192.168.1.*:3000
NODE_ENV=development

#JWT
JWT_SECRET=SENHASUPERSECRETAPARA UTILIZARNODESENVOLVIMENTO
JWT_ACCESS_EXPIRES_IN=300
JWT_REFRESH_EXPIRES_IN=28800

#SENHA
ARGON_MEMORY_COST=19456
ARGON_TIME_COST=2
ARGON_PARALLELISM=1
ARGON_HASH_LENGTH=32

#ADMIN
ADMIN_SENHA=admin123!
ADMIN_EMAIL=admin@empresa.com